.footer {
    background-image: linear-gradient(to top right, #009cb3, #0091c2, #0084d0, #0073d8, #0f5cd5);
    height: 15rem;
    margin: auto;

    @media only screen and (max-width: 414px, 357px, 320px) {
      align-content: center;
      flex-direction: column;
      display: flex;
    }
}

.contact {
    margin: auto;
}

.about {
    margin: auto;
}

mat-list-item {
    text-decoration: none;
    color: white !important;
}

h4 {
    color: white !important;

    @media only screen and (max-height: 736px) {
      text-align: center;
      font-size: 125% !important;
    }

    @media only screen and (max-height: 823px) {
      text-align: center;
      font-size: 125% !important;
    }
}

a {
    text-decoration: none;
    color: white !important;
    position: relative;
    color: #000;
    text-decoration: none;
    font-family: 'Rubik';
  }
  
  a:hover {
    color: #000;
  }
  
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

img {
    flex-direction: inline;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-right: 15rem;

    @media only screen and (max-width: 414px, 375px, 320px) {
      margin-right: 0px !important;
    }
}

mat-icon {
  margin-bottom: 5px;
}