<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="footer">
    <div fxLayoutAlign="start center" fxLayout="column" class="contact">
        <h4>{{ 'ParagraphThree' | translate }}</h4>
        <mat-list role="list" fxLayoutAlign="center center">
            <mat-list-item role="listitem" fxLayoutAlign="start center">
                <mat-icon fontSet="fontawesome" fontIcon="fa-facebook" fxLayoutAlign="center center"></mat-icon>
                <a href="#">Facebook</a>
            </mat-list-item>
            <mat-list-item role="listitem" fxLayoutAlign="start center">
                <mat-icon fontSet="fontawesome" fontIcon="fa-instagram" fxLayoutAlign="center center"></mat-icon>
                <a href="#">Instagram</a>
            </mat-list-item>
            <mat-list-item role="listitem" fxLayoutAlign="start center">
                <mat-icon fontSet="fontawesome" fontIcon="fa-linkedin" fxLayoutAlign="center center"></mat-icon>
                <a href="#">LinkedIn</a>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxLayoutAlign="center center" fxLayout.xs="column" fxHide.xs fxHide.md>
        <img src="../../assets/bledi.jpg">
    </div>
</div>