<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="footer">
    <div fxLayoutAlign="start center" fxLayout="column" class="contact">
        <h4>{{ 'ParagraphThree' | translate }}</h4>
        <mat-list role="list" fxLayoutAlign="center center">
            <mat-list-item role="listitem" fxLayoutAlign="start center">
                <mat-icon fontSet="fontawesome" fontIcon="fa-facebook" fxLayoutAlign="center center"></mat-icon>
                <a href="#">Facebook</a>
            </mat-list-item>
            <mat-list-item role="listitem" fxLayoutAlign="start center">
                <mat-icon fontSet="fontawesome" fontIcon="fa-instagram" fxLayoutAlign="center center"></mat-icon>
                <a href="#">Instagram</a>
            </mat-list-item>
            <mat-list-item role="listitem" fxLayoutAlign="start center">
                <mat-icon fontSet="fontawesome" fontIcon="fa-twitter" fxLayoutAlign="center center"></mat-icon>
                <a href="#">Twitter</a>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxLayoutAlign="center center" fxLayout.xs="column" fxHide.xs fxHide.md>
        <img src="https://scontent.ftia4-1.fna.fbcdn.net/v/t1.15752-0/p280x280/80662027_536314406958283_5644645964015730688_n.jpg?_nc_cat=101&_nc_ohc=ANwyUxWCZRAAX9dicMc&_nc_ht=scontent.ftia4-1.fna&_nc_tp=1002&oh=c7b1357821f138b469685dea45de0425&oe=5EA141F8">
    </div>
</div>