<div fxLayoutAlign="center center" fxLayout="column" class="about">
    <h1>Bledi-Trans</h1>
    <h3>{{ 'AboutHeader' | translate }}</h3>
    <div class="description">
        <p fxLayoutAlign="center center" fxLayout="column">
            {{ 'AboutParagraph' | translate }}
        </p>
        <p>
        </p>
    </div>
    <div class="list" fxLayoutALign.xs="center center" fxLayout.xs="column">
        <mat-list role="list">
            <h4>{{ 'ListHeader' | translate }}</h4>
            <mat-list-item role="listitem">{{ 'Region' | translate }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">{{ 'Italy' | translate }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">{{ 'Germany' | translate }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">{{ 'Turkey' | translate }}</mat-list-item>
        </mat-list>
    </div>
</div>