.description {
    margin: auto;
    padding: 40px;
}

h1 {
    margin-top: 50px;
}

.list {
    width: max-content;
    @media only screen and (max-width: 414px, 375px, 320px) {
        height: 150px;
        width: 150px;
        float: left;
    }
}

.about {
    overflow-x: hidden;
}

h4 {
    padding: 0px 16px;
}

p {
    padding: 1%;
}

