.description {
    // margin: auto;
    padding: 40px;
}

h1 {
    margin-top: 50px;
}

.list {
    width: max-content;
    margin-bottom: 5%;
    @media only screen and (max-width: 414px, 375px, 320px) {
        height: 150px;
        width: 150px;
        float: left;
    }
}

.about {
    overflow-x: hidden;
}

h4 {
    padding: 0px 16px;
}

p {
    padding: 1%;

    @media only screen and (max-width: 375px) {
        text-align: justify;
    }
}

h3 {
    margin-top: 5%;
    text-align: center !important;
    @media only screen and (max-width: 375px, 414px) {
        margin-top: 10%;
    }
}

mat-list {
    @media only screen and (max-width: 375px) {
        width: 75%;
        margin: auto;
        margin-bottom: 10%;
    }
}

img {
    margin: 4%;
    flex: auto;
    border-radius: 50%;
}

.image {
    margin-left: 3% !important;
    margin-bottom: 3% !important;
}

