.description {
    margin: auto;
    padding: 40px;
}

h1 {
    margin-top: 50px;
}

.list {
    padding: 50px;
    width: max-content;

    @media only screen and (max-width: 414px, 375px) {
        height: 150px;
        width: 150px;
        float: left;
    }
}