<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Bledi-Trans</h1>
    <h3>EFIKASITET, SHPEJTESI, SIGURI</h3>
    <div class="description">
        <p fxLayoutAlign="center center" fxLayout="column">
            Themeluar ne vitin 2012, me nje eksperience te themeluesve te saj me mbi 10 vjet, 
            kompania Bledi-Trans ofron sherbimet e saj me kostot me konkurruese te tregut.
            Bledi-Trans fokusohet vetem ne permiresimin e sherbimeve e saj me perfitim per partneret tane.
            Qe prej themelimit, kompania jone operon sherbimet e saj ne vend, rajon, si edhe ne vendet kryesore ne Europe.
        </p>
        <p>

        </p>
        <div class="list">
            <mat-list role="list">
                <h4>Vendet ku ne ofrojme sherbimet tona:</h4>
                <mat-list-item role="listitem">Rajon (Greqi, Maqedoni, Kosove, Mal i Zi)</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Itali</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Gjermani</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Turqi</mat-list-item>
            </mat-list>
        </div>
    </div>
</div>