<div class="contact" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
    <h1 fxLayout="center center">{{ 'Contacts' | translate }}</h1>
    <div class="list" fxLayouAlign="end start" fxLayout="row">
        <mat-list role="list" id="first-list">
            <h3 mat-subheader id="web">Rrjetet Sociale</h3>
            <mat-list-item role="listitem">Facebook</mat-list-item>
            <mat-list-item role="listitem">Instagram</mat-list-item>
            <mat-list-item role="listitem">LinkedIn</mat-list-item>
        </mat-list>
        <mat-list role="list" id="second-list">
            <h3 mat-subheader>Nr. Kontakti</h3>
            <mat-list-item role="listitem">+35567 404 0930</mat-list-item>
            <h3 mat-subheader>E-Mail</h3>
            <mat-list-item role="listitem">bled.skendo.gmail.com</mat-list-item>
        </mat-list>
    </div>
</div>