.sidenav-container {
  height: 100%;
  background-image: url("src/assets/car.jpg");
  height: 100%;
  width: 100%;
  position: scroll;
  overflow: auto;
  top: 0px;
  left: 0px;
  scroll-behavior: [auto] [smooth];

  @media only screen and (min-width: 1200px) {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
  }

  @media only screen and (max-width: 320px) {
    
  }

}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-family: 'Archivo';
}

span {
  font-family: 'Archivo';
  color: white;
}

a {
  font-family: 'Archivo';
}

.hide {
  padding: 7.5px;
  border-radius: 0%;
  margin-left: 10px;
}

mat-toolbar {
  background-image: linear-gradient(to right top, #0f5cd5, #0073d8, #0084d0, #0091c2, #009cb3);
  color: white;
}

.show {
  color: white;
  margin-left: 15px;
  font-size: 100%;
  padding: 7.5px;
}

.image {
  background-position: center center;
  font-family: 'Rubik';
  font-size: 150%;
  color: black;
  padding: 10px;
  margin: 10px;
  margin-left: 100px;
  margin-top: 20px;
  text-align: end center;
// 		-1px -1px 0 black,
// 		1px -1px 0 black,
// 		-1px 1px 0 black,
// 		1px 1px 0 black; 
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
  font-family: 'Rubik';
}

a:hover {
  color: #000;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.describe {
  color: black;
  font-family: 'Archivo';
}


h1 {
  text-decoration: none;
  background: -webkit-linear-gradient(#0f5cd5, #009cb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  font-family: 'Abel';
}

h1:hover {
  color: #009cb3;
}


h2 {
  font-size: 250%;
  font-family: 'Rubik';
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #3689a8;
}