.sidenav-container {
  height: 100%;
  background-image: url("src/assets/car.jpg");
  height: 100%;
  width: 100%;
  position: scroll;
  overflow-y: hidden;
  top: 0px;
  left: 0px;
  scroll-behavior: [auto] [smooth];

  @media only screen and (min-width: 1200px) {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
  }
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
}

span {
  font-family: 'Montserrat';
  color: white;
}

a {
  font-family: 'Montserrat';
}

.hide {
  padding: 7.5px;
  border-radius: 0%;
  margin-left: 10px;
}

mat-toolbar {
  background-image: linear-gradient(to right top, #0f5cd5, #0073d8, #0084d0, #0091c2, #009cb3);
  color: white;
}

.show {
  color: white;
  margin-left: 15px;
  font-size: 100%;
  padding: 7.5px;
}

.image {
  background-position: center center;
  font-family: Montserrat, 'sans-serif';
  font-size: 150%;
  color: black;
  padding: 10px;
  margin: auto;
  margin-top: 5rem;
  text-align: end center;
  overflow: hidden;
// 		-1px -1px 0 black,
// 		1px -1px 0 black,
// 		-1px 1px 0 black,
// 		1px 1px 0 black; 
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
  font-family: 'Montserrat';
}

a:hover {
  color: #000;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.describe {
  color: black;
  font-family: 'Montserrat';
}


h1 {
  color: #45d9e6;
  -webkit-text-stroke: 1px black;
  font-weight: normal;
  font-family: 'Montserrat';
}


h2 {
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: normal;
  font-family: 'Montserrat';
  text-align: center;
  margin-top: 40px;
  
  @media only screen and (max-width: 1024px) {
    text-justify: auto;
    text-size-adjust: auto;
    margin: 50px;
    text-align: center;
  }
}

img {
  width: 300px;
  height: 300px;
  -webkit-image-stroke: 1px black;
  margin: auto !important; 
  border: black !important; 
  border-radius: 50%;

  @media only screen and (max-width: 375px) {
    width: 150px;
    height: 150px;
  }
}

button {
  margin: auto;
}

i {
  margin-right: 10px;
}

mat-select {
  width: auto;
}