<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset | async)!.matches}" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
          <a mat-list-item routerLink="/sherbimet">Sherbimet Tona</a>
          <a mat-list-item href="#">Kontakt</a>
          <a mat-list-item href="#">Rreth Nesh</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
          <mat-icon aria-label="Side nav toggle icon">menu
          </mat-icon>
        </button>
        <a routerLink="/"><span>BLEDI-TRANS</span></a>
        <span class="spacer"></span>
        <div fxHide.xs fxHide.sm fxLayoutAlign="end center">
          <button mat-button class="show"><a routerLink="/sherbimet" (click)="drawer.toggle()">Sherbimet Tona</a></button>
          <button mat-button class="show"><a routerLink="/kontakt" (click)="drawer.toggle()">Kontakt</a></button>
          <button mat-button class="show"><a href="#">Rreth Nesh</a></button>
        </div>
      </mat-toolbar>
      <div class="image" fxLayout="row" fxLayoutALign="center center">
        <h1 fxLayout.lg="row" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutALign="center center">BLEDI-TRANS TRANSPORT</h1>
      </div>
      <div class="describe">
        <h2 fxLayoutAlign="center center">
          Eksperience me mbi 8 vjet ne treg.
        </h2>
        <h2 fxLayoutAlign="center center">
          Sherbim cilesor dhe korrekt.
        </h2>
        <h2 fxLayoutAlign="center center">
          Per me shume informacion na kontaktoni.
        </h2>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
