html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

router-outlet {
    @media only screen and (max-width: 320px) {
        flex: auto;
    }

    @media only screen and (max-width: 375px) {
        flex: auto;
    }
}
