<div class="services" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ 'OurServices' | translate }}</h1>
    <div fxLayoutAlign="center start" fxLayout="column">
        <mat-card fxLayoutAlign.xs="center center" fxLayout.xs="column">
            <mat-card-header fxLayoutAlign="center center">{{ 'ServiceHeaderOne' | translate }}</mat-card-header>
            <mat-card-content fxLayout.lg="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" style="margin-bottom: 30px !important;">
                <img style="margin: auto !important;" fxLayoutAlign="center center" fxHide.xs src="../../assets/trailer.jpg">
                <p class="paragraph">
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                   It has survived not only five centuries, but also the leap into electronic typesetting, 
                   remaining essentially unchanged. 
                   It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                   and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card style="margin-top: -20px;
                         box-shadow: 0px -10px 70px rgb(236, 236, 236);
                         z-index: 10;" 
                  fxLayoutAlign.xs="center center" 
                  fxLayout.xs="column">
            <mat-card-header fxLayoutAlign="center center" style="margin-top: 20px;">{{ 'ServiceHeaderTwo' | translate }}</mat-card-header>
            <mat-card-content fxLayout.lg="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" style="margin-bottom: 40px;">
                <img style="margin: auto !important; margin-bottom: 10px;" fxHide.xs fxLayoutAlign="center center" src="../../assets/truck.png">
                <p class="paragraph">
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                   It has survived not only five centuries, but also the leap into electronic typesetting, 
                   remaining essentially unchanged. 
                   It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                   and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>