img {
    width: 200px !important;
    height: 200px !important;
    border-radius: 8px;
    border: 5px solid #56d8cf;
    padding: 5px;
}



h1 {
    position: relative;
    color: white;
    text-decoration: none;
    margin-top: 75px !important;
    margin-bottom: 75px !important;
  }
  
  h1:hover {
    color: white;
  }
  
  h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  h1:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


  mat-card-header {
    font-weight: 10px;
    font-size: 21px;
    margin-top: 20px !important;
  }

  mat-card {
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
  }

  p {
    margin: 30px 30px 30px !important;
    padding: 20px;
    font-size: 150%;
  }
  
  .services {
    background-image: linear-gradient(to right top, #0f5cd5, #0073d8, #0084d0, #0091c2, #009cb3);
    z-index: 9;
  }