img {
    width: 373px !important;
    height: 280px !important;
    border-radius: 32px;
    border: 3px solid RGB(0, 138, 200);
    padding: 5px;
    margin-bottom: 70px;
}



h1 {
    position: relative;
    color: white;
    text-decoration: none;
    margin-top: 75px !important;
    margin-bottom: 75px !important;
    font-family: 'Rubik';
    font-size: 250%;
  }
  
  h1:hover {
    color: white;
  }
  
  h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  h1:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  
  mat-card-header {
    font-weight: 10px;
    font-size: 21px;
    margin-top: 20px !important;
    margin-bottom: 5%;
    font-family: 'Rubik';
    align-items: flex-start;
    font-size: 250%;
    text-align: center;
    flex-direction: column !important;
  }

  mat-card {
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
  }

  p {
    margin: 30px 30px 30px !important;
    padding: 20px;
    font-size: 150%;
    font-family: 'Archivo';

    @media screen and (max-width: 414px 375px) {
      text-align: center;
    }
  }
  
  .services {
    background-image: linear-gradient(to right top, #0f5cd5, #0073d8, #0084d0, #0091c2, #009cb3);
    z-index: 9;
    overflow-x: hidden;
  }