/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;

    @media only screen and (max-width: 375px, 414px) {
        overflow-x: hidden;
    }
 }
body { 
    margin: 0; 
    font-family: 'Archivo';
}

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
