<div class="who" fxLayout="column" fxLayoutAlign="center center" fxHide.xs>
  <h5 style="margin-bottom: auto; margin-top: 5%; zoom: 2;">Bledi-Trans</h5>
  <p class="p">{{ 'SecondaryHeader' | translate }}</p>
</div>
<div fxLayoutAlign="center center" fxHide.lg fxHide.xl fxHide.md>
  <h6>Bledi-Trans</h6>
</div>
<div fxLayoutAlign="center center" fxLayout.xs="column" fxLayout="row" class="div">
  <mat-card class="mat1" fxLayout="column" fxlayoutAlign="center center">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-truck" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        {{ 'ParagraphOne' | translate }}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button routerLink="/sherbimet" color="primary">{{ 'ButtonOne' | translate }}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat2" fxLayout="column" fxlayoutAlign="center center">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-phone-square" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        {{ 'ParagraphTwo' | translate }}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button color="primary" routerLink="/kontakt">{{ 'ButtonTwo' | translate }}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat3" fxLayout="column" fxlayoutAlign="center center">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-user" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        {{ 'ParagraphThree' | translate }}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
    </mat-card-actions>
  </mat-card>
</div>