<router-outlet></router-outlet>
<h1 fxLayoutAlign="center center">Sherbimet Tona</h1>
<div fxLayoutAlign="center center" fxLayout.xs="column">
  <mat-card class="mat1">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-truck" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat2">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-phone-square" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat3">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-user" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
