.div {
  background-color: #0f5cd5;
  flex-direction: row;
  overflow-x: hidden;

  @media only screen and (max-width: 320px) {
    // width: 150% !important;
    flex: auto;
  }
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mat1 {
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 15px 0px 0px 0px;
  height: 30rem;
  width: 50rem;

  @media only screen and (max-width: 375px) {
    margin: auto !important;
    text-align: center !important;
    width: 350px !important;
    border-radius: 15px 15px 0px 0px !important;
    margin-bottom: 0px !important;
    margin-top: 32px !important;
  }

  @media only screen and (max-width: 414px) {
    margin: auto !important;
    text-align: center !important;
    width: 350px !important;
    border-radius: 15px 15px 0px 0px !important;
    margin-bottom: 0px !important;
    margin-top: 32px !important;
  }

  @media only screen and (max-width: 320px) {
    width: 85% !important;
  }
}

.mat2 {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 50px;
  height: 30rem;
  width: 50rem;
  @media only screen and (max-width: 375px) {
    margin: auto !important;
    text-align: center !important;
    width: 350px !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
  }

  @media only screen and (max-width: 414px) {
    margin: auto !important;
    text-align: center !important;
    width: 350px !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
  }

  @media only screen and (max-width: 320px) {
    width: 85% !important;
  }
}

.mat3 {
  margin-right: 150px;
  margin-top: 50px;
  border-radius: 0px 15px 0px 0px;
  height: 30rem;
  width: 50rem;
  @media only screen and (max-width: 375px) {
    margin: auto !important;
    text-align: center !important;
    width: 350px !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
  }

  @media only screen and (max-width: 414px) {
    margin: auto !important;
    text-align: center !important;
    width: 350px !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
  }

  @media only screen and (max-width: 320px) {
    width: 85% !important;
  }
}

mat-icon {
  zoom: 1000%;
  color: #0f5cd5;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.who {
  background-color: white;
  margin: 100px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Archivo', sans-serif;
  height: 250px;
  z-index: 1;
  border-radius: 20px 20px 0px 0px;
  margin-top: -20px;
  
  @media only screen and (max-width: 414px, 375px) {
    height: 300px;
  }
}


.who {
  position: relative;
  color: black;
  text-decoration: none;
}

.who:hover {
  color: black;
}

.who:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.who:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.p {
  font-size: 50%;
  margin-top: 50px;
  align-content: center;

  @media only screen and (max-width: 414px, 320px, 375px) {
    text-justify: center !important;
  }
}


p {
  margin-left: 15px;
  margin-right: 15px;
  height: 100px;
  text-align: center;
  font-family: 'Martel Sans';
  font-weight: bold;

  @media only screen and (max-width: 375px, 414px, 320px) {
    text-align: center;
    -ms-text-size-adjust: 200%;
  }
}

h5 {
  text-align: center;
  font-weight: bold;
  @media only screen and (max-width: 375px, 414px) {
    text-align: center;
  }
}

h6 {
  zoom: 200%;
  position: relative;
  color: black;
  text-decoration: none;
}

h6:hover {
  color: black;
}

h6:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h6:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

i {
  margin: 5%;
  zoom: 2;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  color: blue;
}