div {
  background-image: linear-gradient(
    to right top,
    #ff0000,
    #ff5400,
    #ff7c00,
    #ff9e00,
    #ffbc00
  );
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mat1 {
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 15px 0px 0px 0px;
}

.mat2 {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 50px;
}

.mat3 {
  margin-right: 150px;
  margin-top: 50px;
  border-radius: 0px 15px 0px 0px;
}

mat-icon {
  zoom: 1000%;
}
