
<div class="who" fxLayout="column" fxLayoutAlign="center center" fxHide.xs>
  <h5 style="margin-bottom: auto;">Bledi-Trans</h5>
  <p class="p">Me mbi 8 vjet eksperience ne tregun e transportit, cilesia eshte e pashmangshme.</p>
</div>
<div fxLayoutAlign="center center" fxHide.lg fxHide.xl fxHide.md>
  <h6>Bledi-Trans</h6>
</div>
<div fxLayoutAlign="center center" fxLayout.xs="column" fxLayout="row" class="div">
  <mat-card class="mat1" fxLayout="column" fxlayoutAlign="center center">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-truck" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        Kompania jone ofron nje numer sherbimesh si transport i plote, transport me grupazh, asistence doganore, etj.   
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button routerLink="/sherbimet" color="primary">Lexo me shume</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat2" fxLayout="column" fxlayoutAlign="center center">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-phone-square" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        Per porositje te sherbimeve tona na kontaktoni ne keta numra telefoni:
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button color="primary" routerLink="/kontakt">Kontakt</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat3" fxLayout="column" fxlayoutAlign="center center">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-icon fontSet="fontawesome" fontIcon="fa-user" fxLayoutAlign="center center"></mat-icon>
    <mat-card-content>
      <p>
        Na ndiqni edhe ne rrjetet tona sociale.
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button color="primary" routerLink="/rreth-nesh">Rreth Nesh</button>
    </mat-card-actions>
  </mat-card>
</div>
