.div {
  background-image: linear-gradient(to right top, #0f5cd5, #0073d8, #0084d0, #0091c2, #009cb3);
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mat1 {
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 15px 0px 0px 0px;
  height: 30rem;
  width: 50rem;
}

.mat2 {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 50px;
  height: 30rem;
  width: 50rem;
}

.mat3 {
  margin-right: 150px;
  margin-top: 50px;
  border-radius: 0px 15px 0px 0px;
  height: 30rem;
  width: 50rem;
}

mat-icon {
  zoom: 1000%;
  color: #0f5cd5;
}

.who {
  background-color: white;
  margin: 100px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Archivo', sans-serif;
  height: 250px;
}


.who {
  position: relative;
  color: black;
  text-decoration: none;
}

.who:hover {
  color: black;
}

.who:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.who:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.p {
  font-size: 50%;
}
